@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');


*{
    contain: content;
    margin: 0px;
    border: 0px;
}

/* Text layout for title */
.title{
    font-family: "PT Serif", normal;
    font-size: 36px;
    font-weight: 700;
    color: black;
}

/* Text layout for subtitle */
.who{
    font-family: "Poppins", normal;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

/* Text layout for team description */
.description{
    font-family: "Poppins", normal;
    font-size: 18px;
    font-weight: 400;
}

/* Alignment for each team member */
.team{
    display: flex;
    flex-wrap: wrap;
    max-width: 75vw;
    justify-content: center;
    align-items: center;

}

/* Margin fix for specific team member */
.team .container:nth-child(2){
    margin-top: 66px;
}

/* Margin fix for specific team member */
.team .container:nth-child(5){
    margin-top: 66px;
}

/* Alignment for each team member */
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Text layout for team member name */
.name{
    font-family: "Poppins", normal;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
}

/* Image resizing for team member photo */
.img{
    max-width: 50vw;
    max-height: 50vh;

}

/* Text layout for team job title */
.job{
    font-family: "PT Serif", normal;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    transform: rotate(90deg);
    
}

/* Layout for whole page */
.whole{
    display: flex;
    flex-direction: column;
}

/* Container for name and photo */
.person{
    display: flex;
    align-items: center;
}

/* Container for title/subtitle/description */
.top-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

/* Flexbox for subtitle/description */
.info{
    display: flex;
    flex-direction: column;
    max-width: 75vw;
}

/* Changes for smaller screen sizes */
@media only screen and (max-width: 600px) {

    .img{
        max-width: 25vw;
        max-height: 25vh;
    }

    .job{
        font-size: 10px;
    }
    .name{
        font-size: 14px;
    }
    .description{
        font-size: 14px;
    }

    .team{
        max-width: 375px;
    }
    .team .container:nth-child(even){
        margin-top: 66px;
    }

    .top-text{
        flex-direction: column;
        padding-left: 12px;
    }

}